<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<log_cleaner>
			<general>
				<enable>0</enable>
                <capacity_conf>0</capacity_conf>
                <capacity>1GB</capacity>
				<frequency>* * * * *</frequency>
			</general>
		</log_cleaner>
	</default>
</config>
